@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&display=swap');
.font_cairo{
  font-family: "Cairo", sans-serif;
}
.font_playfair {
  font-family: "Playfair Display", "Cairo";
}

/* ////////// */

/* ////////// */
.main_container {
  min-height: 100vh;
  width: 100%;
  /* background-color: red; */
  display: flex;
  flex-direction: column;
  font-family: "Poppins", "Cairo";
  overflow-x: hidden;
}
.main_discovery_legacy_section {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: relative;
}
.main_discovery_legacy_section > img {
  height: 100vh;
  width: 100%;
}
.main_discovery_legacy_title_sec {
  min-height: 600px;
  width: 550px;
  left: 300px;
  position: absolute;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  align-items: flex-start;
  color: rgb(255, 255, 255);
  gap: 20px;
  /* background-color: red; */
}
.main_discovery_legacy_title {
  font-size: 65px;
}
.main_discovery_legacy_sub_title {
  font-size: 1rem;
  font-family: "Poppins", "Cairo";
}
/* ////////// */

.main_pioneering_excellence_section {
  height: 425px;
  width: 70%;
  padding-left: 15%;
  padding-right: 15%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* background-color: rgb(230, 35, 35); */
}
.main_pioneering_excellence_title {
  font-size: 55px;
  line-height: 60px;
  letter-spacing: -2px;
  height: 189px;
  width: 706px;
  /* background-color: red; */
}
.main_pioneering_excellence_paragraph {
  width: 514px;
  height: 266px;
  display: flex;
  line-height: 25px;
  letter-spacing: 1px;
  flex-direction: column;
  gap: 20px;
  font-size: 0.75rem;
}
/* /////// */

.main_area_of_focus_section {
  min-height: 1048px;
  width: 100%;
  background-color: #191c40;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* padding: 90px 0 50px 0; */
  gap: 50px;
}

.main_area_of_focus_title_sec {
  min-height: 100px;
  width: 70%;
  /* background-color: red; */
  line-height: 60px;
  display: flex;
  color: white;
  justify-content: flex-start;
  font-size: 55px;
  align-items: center;
  padding-bottom: 15px;
  /* font-family: "Cairo"; */
  border-bottom: 2px solid #b29758;
}
.main_area_of_focus_card_sec {
  min-height: 400px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: rgb(245, 245, 245); */
}
.main_area_of_focus_card_body {
  height: 638px;
  width: 640px;
  /* background-color: rgb(223, 150, 150); */
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  overflow: hidden;
}
.main_area_of_focus_card_img {
  height: 100%;
  width: 100%;
  transition: all 0.3s ease-in-out;
}
.main_area_of_focus_card_body:hover .main_area_of_focus_card_img {
  transform: scale(1.05);
}
.main_area_of_focus_card_title {
  height: 30px;
  width: 85%;
  /* background_color: red; */
  font-size: 1.7rem;
  color: white;
  position: absolute;
  bottom: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.right_arrow_icon {
  height: 16px;
  width: 20px;
}
.main_area_of_focus_card_arrow_btn {
  height: 42px;
  width: 42px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: 0;
  cursor: pointer;
}
.main_area_of_focus_card_arrow_btn:hover {
  background-color: #b29758;
}
.main_area_of_focus_card_arrow_btn:hover .right_arrow_icon {
  filter: invert(1);
}

/* /// */
.main_news_and_insight_section {
  height: 890px;
  width: 70%;
  padding: 30px 15%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 30px;
  background-color: rgb(255, 255, 255);
}
.main_news_and_insight_title {
  min-height: 100px;
  width: 100%;
  line-height: 60px;
  /* background-color: red; */
  display: flex;
  color: rgb(0, 0, 0);
  justify-content: flex-start;
  font-size: 55px;
  align-items: center;
  padding-bottom: 5px;
  /* font-family: "Cairo"; */
  border-bottom: 2px solid #b29758;
}
.main_news_and_insight_card_btn_sec {
  height: 500px;
  width: 100%;
  /* background-color: red; */
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
  position: relative;
}
.main_news_and_insight_card_previous_btn {
  height: 60px;
  width: 60px;
  position: absolute;
  left: -100px;
  border: 0;
  border-radius: 50%;
  background-color: #e1e1e1;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.main_news_and_insight_card_previous_btn > img {
  transform: rotate(180deg);
}

.main_news_and_insight_card_next_btn {
  height: 60px;
  width: 60px;
  position: absolute;
  right: -100px;
  border: 0;
  border-radius: 50%;
  background-color: #e1e1e1;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.main_news_and_insight_card_previous_btn > img,
.main_news_and_insight_card_next_btn > img {
  height: 16px;
  width: 18px;
}

.main_news_and_insight_card_previous_btn:hover,
.main_news_and_insight_card_next_btn:hover {
  background-color: #b29758;
}
.main_news_and_insight_card_previous_btn:hover > img,
.main_news_and_insight_card_next_btn:hover > img {
  filter: invert(1);
}
.main_news_and_insight_card_container {
  min-height: 390px;
  width: 1300px;
  /* background-color: #191c40; */
  overflow-x: scroll;
  overflow-y: hidden;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
}
.main_news_and_insight_card {
  height: 388px;
  width: 419px;
  background-color: #f0f0f0;
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  flex-shrink: 0;
}
.main_news_and_insight_card:hover .main_news_and_insight_card_img {
  transform: scale(1.08);
}
.main_news_and_insight_card_img {
  height: 100%;
  width: 100%;
  transition: all 0.3s ease-in-out;
}
.main_news_and_insight_card_date {
  height: 21px;
  width: 92px;
  border-radius: 5px;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 13px;
  top: 30px;
  left: 30px;
  z-index: 1;
  color: #525252;
  background-color: rgb(255, 255, 255);
}
.main_news_and_insight_card_news {
  height: 21px;
  width: auto;
  border-radius: 5px;
  position: absolute;
  font-size: 13px;
  top: 230px;
  left: 30px;
  color: #d6d6d6;
}
.main_news_and_insight_card_paragraph {
  min-height: 21px;
  width: 80%;
  position: absolute;
  font-size: 16px;
  top: 280px;
  left: 30px;
  color: #d6d6d6;
}
.main_news_and_insight_card_read_more {
  height: 15px;
  /* background-color: red; */
  width: 80%;
  display: flex;
  align-items: center;
  gap: 5px;
  position: absolute;
  font-size: 14px;
  top: 339px;
  left: 30px;
  color: #d6d6d6;
}

.main_news_and_insight_card_read_more > img {
  filter: invert(1);
  height: 12px;
  width: 12px;
}
.main_news_and_insight_btn {
  height: 54px;
  width: 188px;
  background-color: rgb(255, 255, 255);
  border: 0;
  border-radius: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border: 1px solid #444444;
  font-size: 13px;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.main_news_and_insight_btn:hover {
  border: 1px solid #b29758;
  color: white;
}
.main_news_and_insight_btn_background {
  position: absolute;
  left: 0;
  top: 0;
  height: 55px;
  width: 0px;
  border-radius: 50px;
  transition: all 0.3s ease-in-out;
  background-color: #b29758;
}
.main_news_and_insight_btn:hover .main_news_and_insight_btn_background {
  width: 190px;
}

.main_news_and_insight_btn > span {
  z-index: 1;
}
.main_news_and_insight_btn > img {
  transition: all 0.3s ease-in-out;
  z-index: 1;
  height: 15px;
  width: 15px;
}

.main_news_and_insight_btn:hover > img {
  filter: invert(1);
}
/* //// */
.main_choose_the_right_investment_section {
  height: 500px;
  width: 100%;
  background-image: url("/images/choose-the-right.png");
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}
.main_choose_the_right_investment_title_sec {
  min-height: 100px;
  padding-left: 15%;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.main_choose_the_right_investment_title {
  font-size: 55px;
  line-height: 60px;
  min-height: 20px;
  letter-spacing: -1.5px;
}
.main_choose_the_right_investment_paragraph {
  font-size: 16px;
  line-height: 25px;
  min-height: 20px;
}
/* /////// */
